.login-btn {
    background-color: #050899;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.login-btn:hover {
    background-color: #050899;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.logout-btn {
    background-color: #e30613;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
#qr-request{
  background-color: #123099;
}
.login-out:hover {
    background-color: #e30613;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.footer-logo{
  width: 50px;
}
.table-data {
    padding: 5px;
    background: url(../assets/vertical-grey-line-fade-to-white.png), url(../assets/vertical-grey-line-fade-to-white.png), url(../assets/horizontal-grey-line-fade-to-white.png),url(../assets/horizontal-grey-line-fade-to-white.png);
    background-position: left,right,bottom,top;
    background-repeat: no-repeat;
}
.green-dot {
    display: inline-block;
    padding: 0 4px;
}
.heading {
    background: url(../assets/horizontal-grey-line-fade-to-white.png);
    display: inline-block;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.login-btn-2{
    color: #050899;
    font-size: 24px;
}

.login-dot{
    background-color: #050899;
    display: inline-block;
}
.profile-icon{
    background-color: #050899;
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    color: #fff;
    line-height: 52px;
    font-size: 32px;
    border-radius: 100%;

}
.decrease-value{
  color: red;
}

.increase-value{
  color: green
}
.increase-value span, .decrease-value span{
  padding: 0 5px;
}
.increase-value .fa-long-arrow-down{
  display: none;
}
.decrease-value .fa-long-arrow-up{
  display: none;
}
.setting-dropdown{
  margin-top: -4px;
}

.signin-btn{
  background: #00349B;
  color: #fff;
  border-radius: 13px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-weight: bold;
  width: 100px;
  font-size: 20px;
}
.signin-btn:hover{
  color: #fff;
  text-decoration: none;
}
.signup.signin-btn{
  margin: 0 5px;
  background: #F4263D;
}

div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;

  margin-top: 20px;
  margin-left: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}


div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
   margin-right: 0 !important;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  border: none !important;
  color: #123099;
  font-weight: bold;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #123099;
  background-image: #123099;
  color: #fff;
  font-weight: bolder;
}


div.bhoechie-tab-content{
  background-color: #ffffff;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.border-box{
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0 !important;
}
.account-data{
  text-align: left;
  color: red;
}
.setting-data{
  text-align: left;
  color: red;
}
.left-box{
  border-color: #123099;
}
.right-box{
  border-color: #8d8d8d;
}
.select-box{
  width: 100%;
  display: flex;
}
.select-box select {
  width: 33.33%;
  margin: 0 10px;
}

.form-items label{
  font-weight: 500;
  display: block;
  width: 100%;
  text-align: left;
}
.custom-form .form-control {
  background-color: white;
  color: #8d8d8d;
  font-size: 0.9rem;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
}
.custom-form .form-control:focus {
  border-color: #123098;
}
.custom-form h3 {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  font-size: 20px;
  color: #666;
  text-transform: uppercase;
}

.btn-bg {
  background-color: #123098;
  border-color: #123098;
  color: #ffffff;
  text-transform: uppercase;
}
.mb-15 {
  margin-top : 15px;
}

.email-limit{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 120px;
  display: inline-block;
}
.main-nav-header .nav-img {
    display: inline-block;
    margin: 0 auto;
    width: 216px;
    height: auto;
    position: inherit;
    top: 0;
    left: 0;
    max-height: inherit;
    transform: inherit;
}
.main-nav-header .navbar-brand{
  padding: 0;
}

.main-nav-header{
  box-shadow: 0px 0px 5px #ccc;
  margin-bottom: 50px;
  padding: 0 1rem !important;
  min-height: 60px;
  background-color: #fff;
}
.right-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-nav li {
  display: inline-block;
}
.network-box {
  display: inline-block;
  color: #123099;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  padding-top: 10px;
  vertical-align: top;
}
.network-box span{
  display: inline-block;
  margin-right: 5px;
}
.logo-box{
  display: inline-block;
}
.no-padding {
  padding: 0 !important;
}
.currency-name {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  padding-top: 14px;
  color: #123099;
  display: inline-block;
  min-width: 90px;
}
.value-box{
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
   min-width: 75px;
   vertical-align: text-top;
}
.value-box .fa{
    font-size: 12px;
  }
.value-box p{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}

.clearout {
  height:20px;
  clear:both;
}
.value-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 88px;

}
.red{
  color: #f81f34;
}
.grey{
  color: #666;
}
.value-list li {
  display: inline-block;
  min-width: 83px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
#value-slider {
  display:none;
}

.nbs-flexisel-container {
  position:relative;
  max-width:100%;
}
.nbs-flexisel-ul {
  position:relative;
  width:99999px;
  margin:0px;
  padding:0px;
  list-style-type:none;
  text-align:left;
  overflow: auto;
}

.nbs-flexisel-inner {
  position: relative;
  overflow: hidden;
  float:left;
  width:100%;
}

.nbs-flexisel-item {
  float:left;
  margin:0px;
  padding:20px 0;
  cursor:pointer;
  position:relative;
  line-height:0px;
  color: #000;
  font-size: 16px;
  min-height: 30px;
  text-align: center;
}
.nbs-flexisel-item img {
  max-width: 100%;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
  display: none;
}

.nbs-flexisel-nav-left {
  left: 10px;
}

.nbs-flexisel-nav-left:before {
  content: "<"
}

.nbs-flexisel-nav-left.disabled {
  opacity: 0.4;
}

.nbs-flexisel-nav-right {
  right: 5px;
}

.nbs-flexisel-nav-right:before {
  content: ">"
}

.nbs-flexisel-nav-right.disabled {
  opacity: 0.4;
}
.nav-link:hover, .nav-link:focus{
  color: #495057 !important;
}
.user-icon{
    width: 37px;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block;
}
.user-icon img{
    width: 100%;
    height: 100%;
}
.nav-menu-right .dropdown-toggle::after{
  display: none;
}
.nav-menu-right .nav-link {
    padding: 10px 0;
}
.languages-icon a img{
  width: 37px;
  border-radius: 100%;
}
.nav-menu-right li {
  vertical-align: -webkit-baseline-middle
}
.nav-menu-right .nav-link{
  display: inline-block;
  width: auto !important;
}
.log-out-btn {
  background-color: #f81f34;
  padding: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
}

.increase-value{
  color: green
}
.increase-value span, .decrease-value span{
  padding: 0 5px;
}
.increase-value .fa-long-arrow-down{
  display: none;
}
.decrease-value .fa-long-arrow-up{
  display: none;
}
