.login-btn {
    background-color: #050899;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.login-btn:hover {
    background-color: #050899;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.logout-btn {
    background-color: #e30613;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.login-out:hover {
    background-color: #e30613;
    color: #fff;
    font-size: 24px;
    border-radius: 15px;
}
.table-data {
    padding: 5px;
    background: url(../assets/vertical-grey-line-fade-to-white.png), url(../assets/vertical-grey-line-fade-to-white.png), url(../assets/horizontal-grey-line-fade-to-white.png),url(../assets/horizontal-grey-line-fade-to-white.png);
    background-position: left,right,bottom,top;
    background-repeat: no-repeat;
}
.green-dot {
    display: inline-block;
    padding: 0 4px;
}
.heading {
    background: url(../assets/horizontal-grey-line-fade-to-white.png);
    display: inline-block;
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 10px;
}
.login-btn-2{
    color: #050899;
    font-size: 24px;
}

.login-dot{
    background-color: #050899;
    display: inline-block;
}
.profile-icon{
    background-color: #050899;
    display: block;
    width: 52px;
    height: 52px;
    margin: 0 auto;
    color: #fff;
    line-height: 52px;
    font-size: 32px;
    border-radius: 100%;

}
.decrease-value{
  color: red;
}

.increase-value{
  color: green
}
.increase-value span, .decrease-value span{
  padding: 0 5px;
}
.increase-value .fa-long-arrow-down{
  display: none;
}
.decrease-value .fa-long-arrow-up{
  display: none;
}
.setting-dropdown{
  margin-top: -4px;
}

.signin-btn{
  background: #00349B;
  color: #fff;
  border-radius: 13px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  font-weight: bold;
  width: 100px;
  font-size: 20px;
}
.signin-btn:hover{
  color: #fff;
  text-decoration: none;
}
.signup.signin-btn{
  margin: 0 5px;
  background: #F4263D;
}

div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;

  margin-top: 20px;
  margin-left: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}


div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
   margin-right: 0 !important;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
  border: none !important;
  color: #123099;
  font-weight: bold;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #5A55A3;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #123099;
  background-image: #123099;
  color: #fff;
  font-weight: bolder;
}


div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.border-box{
  border: 2px solid #ccc;
  border-radius: 5px;
  margin: 0 !important;
}
.account-data{
  text-align: left;
  color: red;
}
.setting-data{
  text-align: left;
  color: red;
}
.left-box{
  border-color: #123099;
}
.right-box{
  border-color: red;
}
.select-box{
  width: 100%;
  display: flex;
}
.select-box select {
  width: 33.33%;
}

.form-items label{
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: left;
}
