<section class="bg-secondary" bind="marketTicker">
  <div class="container">
    <div class="col-lg-12 center">
      <div class="mb-md text-center">
        <h3 class="heading h3">MARKETS OVERVIEW</h3>
      </div>
      <div class="table-list" ng-repeat="currency in currencies" ng-if="dashboardCtrl.ifMarketsPresent(currency.code)">
        <p style="display: none">{{dashboardCtrl.changeCurrency(currency.code)}}</p>
        <center>
          <h4>{{ (currency.code | uppercase) + ' MARKETS' }}</h4>
        </center>
        <div class="table-data">
          <ng-include src="'/templates/dashboard/market_tds.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</section>
