<ul id="value-slider">
  <li ng-repeat="market in markets" bind="marketTicker" class="market_{{market.ask_unit}}{{market.bid_unit}}">
    <div class="currency-name">{{ market.name }}</div>
    <div class="value-box">
      <p>Last Price</p>
      <span class="last_price"></span>
    </div>
    <div class="value-box">
      <p>
        24H CHANGE
      </p>
      <span class="{{ priceheaderCtrl.marketValues.marketChange >= '0' ? 'increase-value' : 'decrease-value' }} 24h_change">
      </span>
    </div>
    <div class="value-box">
      <p>
        24H High
      </p>
      <span class="24h_high"></span>

    </div>
    <div class="value-box">
      <p>
        24H Low
      </p>
      <span class="24h_low"></span>
    </div>
    <div class="value-box">
      <p>
        24H Volume
      </p>
      <span class="24h_volume"></span>
    </div>
  </li>
</ul>
