<table class="table table-striped text-center" id="dev-table">
  <thead>
    <tr>
      <th>MARKET</th>
      <th>CURRENCY</th>
      <th>VOLUME</th>
      <th>%CHANGE</th>
      <th>LAST PRICE</th>
      <th>24HR HIGH</th>
      <th>24HR LOW</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="market in markets" ng-if="market.bid_unit == dashboardCtrl.selectedCurrency">
      <td style="display: none">{{dashboardCtrl.setMarketValues(market.name)}}</td>
      <td>{{ market.name }}</td>
      <td>{{ market.ask_unit | uppercase }}</td>
      <td>{{ dashboardCtrl.marketValues.marketTicker.volume }}</td>
      <td class="{{ dashboardCtrl.marketValues.marketChange >= '0' ? 'increase-value' : 'decrease-value' }}">{{ dashboardCtrl.marketValues.marketChange}}<span><i class="fa fa-long-arrow-up"></i><i class="fa fa-long-arrow-down"></i></span></td>
      <td>{{ dashboardCtrl.marketValues.marketTicker.last }}</td>
      <td>{{ dashboardCtrl.marketValues.marketTicker.high }}</td>
      <td>{{ dashboardCtrl.marketValues.marketTicker.low }}</td>
    </tr>
  </tbody>
</table>

