<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="search-header">
      <div class="search-input">
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search" ng-model="filterString" ng-change="filterAccounts()">
            <span class="input-group-addon">
                <button type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 table-data">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th nowrap="nowrap">CURRENCY NAME</th>
          <th>CURRENCY</th>
          <th nowrap="nowrap">AVAILABLE BALANCE</th>
          <th nowrap="nowrap">PENDING DEPOSIT</th>
          <th>RESERVED</th>
          <th>TOTAL</th>
          <th nowrap="nowrap">EST. BTC VALUE</th>
          <!-- <th>%CHANGE</th> -->
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accounts" bind="accounts">
          <td style="display: none;">{{accountsCtrl.setAccountMarket(account)}}</td>
          <td>
            <span class="down-dot" ng-click="accountsCtrl.deposit(account)">
              <span></span>
              <i class="fa fa-long-arrow-down"></i>
            </span>
          </td>
          <td>
            <span class="up-dot" ng-click="accountsCtrl.withdraw(account)">
              <span></span>
              <i class="fa fa-long-arrow-up"></i>
            </span>
          </td>
          <td>{{ currencyName | uppercase}}</td>
          <td><a href="http://localhost:5000/trading/{{marketName}}" target="_blank">{{ account.currency | uppercase }}</a>
          <td>{{account.balance | round_down }}</td>
          <td>0.00</td>
          <td>{{account.locked}}</td>
          <td>{{ totalValue }}</td>
          <td>2.8552</td>
          <!-- <td>-0.4</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

